{%extends 'main.html'%} 

{% block content%}
<div class="container display-1 fw-bold text-success">
  <span class="border border-black bg-white">mtaani</span
  ><span class="bg-success text-white">Market</span>
</div>

<section class="bg-success text-white text-center py-5 my-5">
  <div class="container">
    <h1 class="display-3 fw-bold">Welcome to <span class="bg-white text-success px-2">Mtaani Market</span></h1>
    <p class="lead mt-3">Your Local Marketplace — Buy & Sell Easily in Your Mtaani</p>
  </div>
</section>


{% endblock %}